h1{
    caret-color: darkorange;
    font-size: 50px;
    text-align: center;
}

.texto {
    caret-color: darkorange;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.png1{
    caret-color: darkorange;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}